# Multiple Linear Regression

### import libraries

In [1]:
import numpy as np 
import pandas as pd
from sklearn.linear_model import LinearRegression

### import data

In [2]:
df = pd.read_csv("multiple-linear-regression-dataset.csv",sep=";")
df.head()
# deneyim =experience , maas =salary , yas =age

   deneyim  maas  yas
0      0.5  2500   22
1      0.0  2250   21
2      1.0  2750   23
3      5.0  8000   25
4      8.0  9000   28

###  preparing the x and y for predict

In [3]:
x = df.iloc[:,[0,2]].values
y = df.maas.values.reshape(-1,1)

### linear regression

In [4]:
multiple_linear_regression = LinearRegression()
multiple_linear_regression.fit(x,y)

LinearRegression()

In [5]:
print("b0: ",multiple_linear_regression.intercept_)
print("b1,b2: ",multiple_linear_regression.coef_)

b0:  [10376.62747228]
b1,b2:  [[1525.50072054 -416.72218625]]

### predict

In [6]:
multiple_linear_regression.predict(np.array([[5,35],[10,35],[20,30]])) # x= experience, y = age

array([[ 3418.85455609],
       [11046.35815877],
       [28384.9762954 ]])